# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
Paulscode*.txt
MinecraftForge-Credits.txt
LICENSE-new.txt
CREDITS-fml.txt
forge*changelog.txt